* {
    margin: 0;
}


.circle1 {
    background:linear-gradient(to top, rgb(255,251, 0), rgb(255, 123, 0));
    border-radius: 300px;
    width: 500px;
    height: 500px;
    display: flex;
    position: absolute;
    left: 200px;
    bottom: 50px;
}

.circle2 {
    background: linear-gradient(to top, rgb(171, 4, 212), rgb(125, 7, 141));
    border-radius: 300px;
    width: 250px;
    height: 250px;
    display: flex;
    position: absolute;
    left: 800px;
    bottom: 660px;
}

.circle3 {
    background: linear-gradient(to bottom, rgb(0, 255, 255), rgb(38, 101, 117));
    border-radius: 300px;
    width: 150px;
    height: 150px;
    display: flex;
    position: absolute;
    left: 850px;
    bottom: 200px;
}

.circle4 {
    background: linear-gradient(to bottom, rgb(255, 0, 128), rgb(143, 21, 88));
    border-radius: 300px;
    width: 350px;
    height: 350px;
    display: flex;
    position: absolute;
    left: 1201px;
    bottom: 300px;
}

.retangulo {
  width: 60rem;
  height: 40rem;
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: rgba(189, 186, 186, 0.644);
  position: absolute;
  left: 22%;
  top: 8rem;
  z-index: 9999;
  backdrop-filter: blur(20px);
}

.left {
    display: flex;
    width: 50%;
    height: 100%;
    padding: 2rem;
    align-content: stretch;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 25px;
    background-color: rgba(164, 172, 180, 0.404);
}

.right {
    display: flex;
    width: 50%;
    height: 100%;
    padding: 2rem;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 20px;
    background-color: rgba(69, 77, 85, 0.247);
}

.email {
    width: 450px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(230, 230, 230);
    border-radius: 80px;
    font-size: 20px;
}

.senha {
    width: 450px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(230, 230, 230);
    border-radius: 80px;
    font-size: 20px;
}



.entrar {
    width: 100px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(230, 230, 230);
    border-radius: 80px;
    font-size: 15px;
}

.criar-conta {
    width: 100px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(230, 230, 230);
    border-radius: 80px;
    font-size: 15px;
}

.facebook {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.face {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    border-radius: 80px;
}

.whatsapp {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.whats {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
   
    border-radius: 80px;
}

.instagram {
    width: 30;
    height: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 0%;
    justify-content: space-evenly;
    align-items: center;
}

.inta {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    border-radius: 100%;
    justify-content: space-evenly;
    align-items: center;
   
}

.redes-sociais {
    display: flex;
    width: 80;
    height: 80px;
    padding: 2rem;
    flex-direction: row;
    border-radius: 100%;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}

