* {
    margin: 0;
}


.circle1 {
    background:linear-gradient(to top, rgb(255,251, 0), rgb(255, 123, 0));
    border-radius: 300px;
    width: 500px;
    height: 500px;
    display: flex;
    position: absolute;
    left: 200px;
    bottom: 50px;
}

.circle2 {
    background: linear-gradient(to top, rgb(171, 4, 212), rgb(125, 7, 141));
    border-radius: 300px;
    width: 250px;
    height: 250px;
    display: flex;
    position: absolute;
    left: 800px;
    bottom: 660px;
}

.circle3 {
    background: linear-gradient(to bottom, rgb(0, 255, 255), rgb(38, 101, 117));
    border-radius: 300px;
    width: 150px;
    height: 150px;
    display: flex;
    position: absolute;
    left: 850px;
    bottom: 200px;
}

.circle4 {
    background: linear-gradient(to bottom, rgb(255, 0, 128), rgb(143, 21, 88));
    border-radius: 300px;
    width: 350px;
    height: 350px;
    display: flex;
    position: absolute;
    left: 1201px;
    bottom: 300px;
}

.retangulo {
  width: 60rem;
  height: 40rem;
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: rgba(128, 128, 128, 0.644);
  position: absolute;
  left: 22%;
  top: 8rem;
  z-index: 9999;
  backdrop-filter: blur(5px);
}

.left {
    display: flex;
    width: 50%;
    height: 100%;
    padding: 2rem;
    align-content: stretch;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 25px;
    background-color: rgba(240, 248, 255, 0);
}

.right {
    display: flex;
    width: 50%;
    height: 100%;
    padding: 2rem;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 20px;
    background-color: rgba(240, 248, 255, 0);
}

.email {
    width: 60px;
    height: 50px;
    border-radius: 30%;
}

.senha {
    width: 60px;
    height: 50px;
    border-radius: 30%;
}